DB_HOST=your-project.region.aws.neon.tech
DB_PORT=5432
DB_USER=your_neon_user
DB_PASSWORD=your_neon_password
DB_NAME=your_db_name

DB_POOLER_HOST=your-project-pooler.region.aws.neon.tech
DB_POOLER_PORT=6543